@import '../../Assets/css/_variable.scss';
.error {
    color: red;
    font-size: .75rem;
    display: block;
    padding-top: .2rem;
}

.spinnerbordersm {
    width: 25px !important;
    height: 25px !important;
    border-width: .2em !important;
    position: relative!important;
    left: 15px !important;
}

.btnprimary:disabled {
    color: #fff;
    background-color: #ed2012 !important;
    border-color: #ed2012 !important;
}

.formSect {
    input,
    textarea,
    select {
        background-color: transparent;
        width: 100%;
        border: none;
        font-size: $textMd;
        padding-bottom: .5rem;
        border-bottom: 1px solid $textGrey1;
        margin-top: 2rem;
        // color: grey;
        &:focus {
            outline: none;
        }
    }
    select option[data-default] {
        color: #888 !important;
    }
}

.link {
    color: #007bff !important;
}

.color {
    color: #6c757d !important;
}

.bl {
    color: black;
}

@media screen and (max-width: $mobileViewStart) {
    .color {
        color: #A8A8A8 !important;
    }
}