@import "../../Assets/css/variable";
.statsBox {
    background: rgb(171, 0, 0);
    background: linear-gradient(90deg, rgba(171, 0, 0, 1) 38%, rgba(249, 37, 11, 1) 86%);
    height: 100px;
    margin: 0 1.25rem;
    display: flex;
    padding: 1rem;
}

.number {
    font-size: 3rem;
    display: flex;
    align-items: center;
    color: #fff;
    margin-right: 1rem;
    font-weight: 600;
}

.text {
    color: #fff;
    align-items: center;
    display: flex;
    font-weight: 600
}

@media screen and (max-width: $mobileViewStart) {
    .statsBox {
        margin-right: 0px;
    }
    .number {
        min-width: 35%;
    }
}