@import "../../Assets/css/variable";
.productscreenshot {
    // background-color: $darkGrey;
    .productscreenshotbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ImageSize {
        background-repeat: no-repeat;
        background-size: 810px 480px;
        height: 480px;
    }
    @media screen and (max-width: $mobileViewStart) {
        .ImageSize {
            background-repeat: no-repeat;
            background-size: contain;
            height: 200px;
            text-align: center;
        }
    }
}