
// colors
$darkGrey: #181d2e;
$darkGrey2: #202020;
$lightGrey: #2e2e2e;
$orange: #ffc981;
$orangeBg: #ffebdf;
$brandColor: #ed2012;
$brandHover: #D50A0A;
$textColor: #202020;
$textGrey1: #9b9b9b;
$boldGrey: #0d0d0d;
$xlightGrey: #f7f7f7;
$xlLightgrey: #f4f4f4;
$white: #fff;
$lightSilver: #ededed;

$textXxl: 3.75rem;
$textXl: 2.25rem;
$textMd: 1rem;
$textLg: 1.5rem;
$textSm: 1.125rem;
$textXs: 0.875rem;
$textXxs: 0.8rem;


// Screen Sizes
$innerContainerWidth: 1280px;
$mobileViewStart: 992px;