.header-banner {
  background-repeat: no-repeat;
  background-size: cover;
  // height: 44vw;

  .right-bg {
    padding-top: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
  }

  b {
    color: inherit
  }

  .content {
    // height: 100%;
    // margin-top: 5rem;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 8vh 0px;
    padding-bottom: 0px;
  }

  &.bottom-gradient {
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 20vw;
      width: 100%;
      background: linear-gradient(transparent, black);
    }
  }

  &.bottom-text {
    .content {
      align-items: flex-end;
    }
  }

  @media screen and (max-width: 900px) {
    .right-bg {
      padding-top: 2rem;
    }

    &.rectangular {
      .right-bg {
        height: 120vw;
        min-height: initial;
      }
    }
  }

  @media screen and (max-width: 1300px) {
    .content {
      padding: 20px;
    }
  }

  @media screen and (min-width: 1340px) {
    .right-bg {
      min-height: 60vh;
    }

    &.rectangular {
      .right-bg {
        height: 35vw;
        min-height: initial;
      }
    }
  }

  @media screen and (min-width: 1670px) {
    .right-bg {
      min-height: 80vh;
    }

    &.rectangular {
      .right-bg {
        height: 35vw;
        min-height: initial;
      }
    }
  }

}