@import "../../Assets/css/variable";
.brandImg {
    width: 180px;
    height: 200px;
    cursor: pointer;
}

.brandlist {
    .mobileview {
        display: none !important;
    }
    @media screen and (max-width: $mobileViewStart) {
        .mobileview {
            display: block !important;
        }
        .desktopview {
            display: none !important;
        }
    }
}