    .head {
        cursor: pointer;
    }
    
    .body {
        height: 0px;
        transition: height 0.3s;
        overflow: hidden;
        &.expanded {
            height: auto !important;
        }
        .innerbody {
            padding: 30px 0px;
        }
    }
    
    .mt {
        margin-top: -20px;
        margin-bottom: -10px;
    }